<% provide(:title, 'About') %>
<div class="container-fluid auto-image">
    <div class="row">
        <div class="home-panel">
            <div class="panel-body">
              <%= markdown(render('about_carmanate')) %>
            </div>
        </div>
    </div>
</div>