<% provide(:title, 'Home') %>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">

                <h1>Welcome to Carmanate!</h1>
                <p>Carmanate is a simple web application for discovering maintenance data for your car or truck.
                  The web app provides simple login authentication and car profile management. A car profile is
                  a make, model, and year of a car. This profile can be created, saved or deleted. A user can have
                  zero to many car profiles. This web app was built as a project for General Assembly's
                  Web Development Immersive. </p>
                <p>Users should first sign up. An email should be enough to get started. Once a user has
                  created an account, they can sign in. Users can choose their model from the list provided.
                  While the selection is made, a name for this profile should be typed in. Once a car profile
                  name is given and a car make is chosen a user should save the profile. The user should be
                  returned to the page to search for the model, year and engine type for the car profile.</p>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
          <img class="side-image img-responsive image-carmanate" src="/images/auto-repair-promo750X556.jpeg" alt="Gregory Lawson">

      </div>
      <div class="col-sm-2"></div>
    </div>
</div>
