<% provide(:title, 'Edit User Profile') %>
<div class="container-fluid regular-background">
    <!-- new user -->
    <%= render 'layouts/flash_messages' %>
    <div class="row">
        <div class="panel panel-default remove-padding">
            <div class="panel-heading text-center"><h1>Edit User Profile</h1></div>
            <div class="panel-body">
                <%= render 'users/fields' %>
            </div>
            <div class="panel-footer">
                <%= link_to 'See Car Profiles', @car_profile %> |
                <%= link_to 'Back', user_path(current_user) %>
            </div>
        </div>
    </div>
</div>