<% provide(:title, @user.name) %>
<div class="container-fluid regular-background">
    <div class="row">
        <div class="col-md-12 remove-padding">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><h1>Car Profiles</h1></div>
                <table class="table table-bordered table-condensed table-striped">
                    <thead>
                    <tr>
                        <th>Maintenance Report Link</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @user.car_profiles.each do |item|%>
                        <tr>
                            <td><%= link_to item.name, car_profile_path(item) %></td>
                            <td><%= link_to "edit", edit_car_profile_path(item) %></td>
                            <td><%= link_to "delete", item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                    <% end %>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>