body{
    /*background-color: #597ea2;*/
}

.slide-carmanate-right{
    padding-left:20% !important;
}
.navbar-carmante{
    margin-bottom: 0px;
}
.navbar-lower{
    background-color: #617487;
}

.auto-image{
    background: #000 url("/images/auto-repair-promo.jpg") no-repeat top center;
    background-size:cover;
    height: 620px;
    margin: 0px;
    color: #ffffff;
}

.regular-background{
    /*border-top: 5px solid #A0A0A0;
    border-bottom: 5px solid #A0A0A0;*/
    height: 620px;
    margin: 0px;
}

.signup-form{
    width: 300px;
}

.signup-form-outer{
    width: 400px;
}

.signup-panel-center{
    float: none;
    margin-left: auto;
    margin-right: auto;
    height: 605px;
}
.home-panel{
    background-color: white;
    color: #2f3f50;
}

.footer{
    border-top: 5px solid #A0A0A0;
}

.header{
    border-bottom: 5px solid #A0A0A0;
}
.footer-info{
    background-color: #2f3f50;
    height: 50px;
}

.remove-padding{
    padding: 0px;
}
.center-pills { display: inline-block; }
.nav-pills-top{
   margin-top: 5px;
}

.hello-top{
    color: white;
    position: relative;
    display: block;
    padding-top: 19.5px;
    padding-bottom: 19.5px;
   /* padding: 10px 15px; */
    box-sizing: border-box;
}

.image-carmanate{
    margin-bottom: 20px;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}