<div class="row">
    <div class="col-md-12 remove-padding">
    <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key} no-margin") %>
    <% end %>
    <%= yield %>
    </div>
</div>